<div class="card shadow-effect ">
    
    <img src="https://media.smallbiztrends.com/2013/09/market-your-business-overseas.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 189</small>
       
        <h5 class="mt-1">
            Title: "Navigating the Political Landscape: Insights into Power and Policy"
        </h5>
        
        <p>Politics is the arena where decisions that shape our society are made. From elections to governance, it influences every aspect of our lives. Join us as we delve into the complexities of political systems, debates, and the pursuit of a better tomorrow.</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED _ SEP 20203</small>
      

    </div>

</div>

