<div class="card shadow-effect ">
    
    <img src="https://static.toiimg.com/photo/76420840.cms" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 180</small>
       
        <h5 class="mt-1">
            
        
Title: "Wanderlust Chronicles"


        </h5>
        
        <p>
            
            Embark on a journey through captivating landscapes, vibrant cultures, and unforgettable experiences. Discover hidden gems, indulge in culinary delights, and embrace the thrill of exploration. Let the wanderlust ignite your soul and inspire your next great adventure.
          
</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - OCT 2023</small>
      

    </div>

</div>


