<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments (15,256)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Methew Doe</h6>
            <small class="text-danger">LAST UPDATED - FEB 8,2024</small>
            <div small="mt-3 mb-3"> "This blog beautifully encapsulates the rapid pace of technological advancement and its profound impact on our lives. I particularly appreciate how it highlights the potential of emerging technologies like quantum computing and 5G to shape our future. Great job!"</div>
                 <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Sarah</h6>
            <small class="text-danger">LAST UPDATED - NOV 8,2023</small>
            <div small="mt-3 mb-3">"This blog effectively captures the essence of the tech revolution and its wide-reaching implications. The mention of AI, IoT, and other key technologies paints a vivid picture of the increasingly interconnected world we live in. Well-written and thought-provoking!"</div>
            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Michael</h6>
            <small class="text-danger">LAST UPDATED - OCT 18,2023</small>
            <div small="mt-3 mb-3"> "As a tech enthusiast, I found this blog incredibly insightful and engaging. It's refreshing to see a concise yet comprehensive overview of the key trends shaping the tech landscape. Looking forward to reading more content like this in the future!"</div>
            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>
            <hr>
        </div>
    
    </div>
</div>
