<div class="card shadow-effect ">
    
    <img src="https://ideas.darden.virginia.edu/sites/default/files/styles/full_width_640px_5_3_/public/2018-11/Design-Thinking-Tools.png?itok=rh-wk7Ak" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 189</small>
       
        <h5 class="mt-1">
            
"Design Dimensions: Unveiling Creativity"
        </h5>
        
        <p>"Dive into our design blog for innovative ideas, trends, and expert tips. Explore the world of creativity, aesthetics, and functionality. Let's elevate your design game together!
            
In the dynamic realm of design, every pixel, curve, and color holds the potential to captivate and inspire"</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - JAN 2024</small>
      

    </div>

</div>


