<div class="card shadow-effect ">
    
    <img src="https://media.licdn.com/dms/image/C4E12AQHs9RNVgjtOlg/article-cover_image-shrink_720_1280/0/1608364080286?e=2147483647&v=beta&t=OtDwRdVcNenPRHLA-OBSCeLh-DTDhqiwCq_qeLroAto" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 293</small>
       
        <h5 class="mt-1">
            Title: "Surprise Victories and Farewell Legends"


        </h5>
        
        <p>
            

            In sports news, an underdog team clinched a surprising victory in the championship, stunning fans worldwide. Meanwhile, an iconic athlete announced their retirement, leaving a legacy that will be remembered.Fans cheer as underdogs triumph while legends bid farewell, lasting .
</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - FEB 2024</small>
      

    </div>

</div>


