<div class="card shadow-effect ">
    
    <img src="https://previews.123rf.com/images/photonphoto/photonphoto2104/photonphoto210400394/167412841-concetto-di-internet-business-tecnologia-e-rete-trasformazione-aziendale-futuro-e-innovazione.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 180</small>
       
        <h5 class="mt-1">
            
        
            Title: "TechTrends: Navigating the Digital Frontier"


        </h5>
        
        <p>
            
            Explore the cutting edge of technology with TechTrends. From AI to blockchain, uncover insights into emerging innovations and their impact on society. Join us as we decode the digital future.
          
</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - OCT 2023</small>
      

    </div>

</div>


