<div class="card shadow-effect ">
    
    <img src="https://assets-global.website-files.com/5f59aa263c234bb74025de57/64f9437bc2243aa4ffd51c13_Impact%20of%20AI%20in%20graphic%20design.png" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 400</small>
       
        <h5 class="mt-1">
          
Title: "The Art of Design: Where Creativity Shapes the World"
        </h5>
        
        <p>Design is the silent force shaping our lives, from the products we use to the spaces we inhabit. It merges beauty with functionality, sparking innovation and enhancing experiences. Join us power of design to inspire, delight, and improve the way we live.</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED _ MARCH 2024</small>
      

    </div>

</div>
