<div class="card shadow-effect ">
    
        <img src="https://www.bls.gov/spotlight/2017/sports-and-exercise/images/cover_image.jpg" alt="post-image" class="card-img-top">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            
            <small class="bg-light text-success text-center ml-3">Featured</small>
            <small class="bg-light text-info text-center ml-3">Views - 90</small>
           
            <h5 class="mt-1">
                Title: "The Thrill of Sport: Uniting Passion and Performance"
            </h5>
            
            <p>Sport transcends boundaries, cultures, and languages, bringing people together in the pursuit of excellence and shared excitement. Whether on the field, court, or track, it fosters teamwork, discipline, and resilience. Explore the universal language of sport.</p>
            <small class="bg-light text-warning text-center ml-3">LAST UPDATED _ SEP 20203</small>
          
    
        </div>
    
    </div>
