<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white">Stellar Blog</h1>
    <p class="text-white">
        Introducing our stellar blog, where each word weaves into a tapestry of captivating narratives and compelling insights. Join us on a journey where curiosity meets discovery, and every sentence unfolds a new world of intrigue. Prepare to be enthralled, as we delve into topics that ignite the mind and inspire the soul. Welcome to a space where engaging storytelling meets thought-provoking exploration.</p>

    </div>
    </div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <app-postcardten></app-postcardten>
        </div>
        <div class="col-md-4 mb-3">
            <app-postcardfive></app-postcardfive>
        </div>
        <div class="col-md-4 mb-3">
            <app-postcardsix></app-postcardsix>
        </div>
        <div class="col-md-4 mb-3">
            <app-postcardele></app-postcardele>
        </div>
        <div class="col-md-4 mb-3">
            <app-postcardfour></app-postcardfour>
        </div>
        <div class="col-md-4 mb-3">
            <app-postcardthree></app-postcardthree>
        </div>
    </div>
</div>