<div class="card shadow-effect ">
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShSh_ntkiStQFpjZ81mosfe1m_dDLE-fnROIKCYyapMg&s" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 80</small>
       
        <h5 class="mt-1">
            
Title: "Wellness Wisdom: Navigating the Path to Health"


        </h5>
        
        <p>
            
            Embark on a journey toward holistic well-being, exploring nutrition, fitness, mental health, and preventive care. Discover practical tips, expert insights, and evidence-based strategies to cultivate a balanced lifestyle and thrive in mind, body, and spirit.
          
</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - APRIL 2024</small>
      

    </div>

</div>


